{{#unless page.prev}}
<div id="container-home">
    <h1>Hi. I'm Joseph Judge.</h1>
    <a href="/Works"><h2>See what I've worked on.</h2></a>
    <a href="/Employment"><h2>See where I've worked.</h2></a>
    <h2>Or scroll down to see my recent posts.</h2>
</div>

<style>
    #container-home {
        min-height: 100vh;

        display: flex;
        justify-content: center;
        flex-direction: column;

        padding: 0 16px;
        margin-top: -64px;
    }

    #container-home a {
        text-decoration: none;
        color: #2266FF;
    }

    #navbar-title {
        opacity: 0;
    }
</style>
{{/unless}}

<div class="container">
    <h1>Recent Posts</h1>
    <hr>
    {{> posts}}
    {{> paginator}}
</div>