$navbar-height: 64px;
$sidebar-width: 256px;

$sidebar-bg: black;
$sidebar-fg: white;

$sidebar-link-height: 64px;
$sidebar-link-padding: 32px;

$sidebar-link-bg: $sidebar-bg;
$sidebar-link-fg: $sidebar-fg;

$sidebar-link-current-bg: darkgrey;
$sidebar-link-current-fg: white;

$sidebar-link-hover-bg: grey;
$sidebar-link-hover-fg: white;

$sidebar-link-press-bg: darkgrey;
$sidebar-link-press-fg: white;

$link-bg: white;
$link-fg: #2266FF;
$link-radius: 8px;

body, html {
	margin: 0;
	padding: 0;
	width: 100%;
    font-weight: 400;
    font-family: 'Josefin Sans', 'sans-serif';
    background: black;
    color: white;
}

p, aside, ul {
    font-size: 17px;
    line-height: 26px;
}

aside {
    color: #AA3322;
    font-weight: bold;
}

body {
    display: flex;
    align-items: center;
    padding-top: $navbar-height;
    flex-direction: column;
}

.container {
    box-sizing: border-box;
    max-width: 750px;
    width: 100%;
    padding: 0 32px 16px;
}

#sidebar, #navbar {
    &, & * {
        user-select: none;
        -ms-user-select: none;
    }
}

#navbar {
    z-index: 9998;

    transition: box-shadow 0.25s;

    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    height: $navbar-height;
    
    box-shadow: 0 0 16px 16px rgba(0,0,0,0);
    
    #navbar-cont {
        overflow: hidden;
        transition: background 0.25s;

        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        background: black;

        #navbar-menu {
            cursor: pointer;
            height: $navbar-height;
            width: $navbar-height;
            display: inline-block;
        }
    
        #navbar-title {
            display: inline-block;
            height: $navbar-height;
            line-height: $navbar-height;
            vertical-align: top;
        }
    }

    box-shadow: 0 0 16px 8px rgba(0,0,0,0.1);
}

#sidebar {
    z-index: 9999;

    transition: left 0.25s, box-shadow 0.25s;

    position: fixed;
    top: 0;
    left: -$sidebar-width;
    width: $sidebar-width;
    height: 100vh;

    background: $sidebar-bg;

    box-shadow: 0 0 16px 8px rgba(0,0,0,0);
    
    &.open {
        box-shadow: 0 0 16px 8px rgba(0,0,0,0.25);
        left: 0;
    }

    a {
        transition-property: background, color;
        transition-duration: 0.2s;

        display: block;
        width: $sidebar-width - $sidebar-link-padding;
        height: $sidebar-link-height;

        padding-left: $sidebar-link-padding;
        line-height: $sidebar-link-height;

        text-decoration: none;

        background: $sidebar-link-bg;
        color: $sidebar-link-fg;

        &.current {
            background: $sidebar-link-current-bg;
            color: $sidebar-link-current-fg;
        }

        &:hover {
            background: $sidebar-link-hover-bg;
            color: $sidebar-link-hover-fg;
        }

        &:active {
            background: $sidebar-link-press-bg;
            color: $sidebar-link-press-fg;
        }
    }

    #sidebar-logo {
        width: 256px;
        height: 256px;
    }
}

hr {
    border-style: dotted;
    border-width: 4px;
    border-color: lightgray;
    border-top: none;
}

a {
    color: $link-fg;
    text-decoration: none;
}

.btn {
    margin: 4px 2px;
}

h1, h2, h3 {
    font-family: 'Josefin Sans', 'sans-serif';
}

h1 {
    font-size: 48px;
    font-weight: 800;
}
h2 {
    font-size: 30px;
    margin-bottom: 0px;
    font-weight: 700;
}
h3 {
    margin-top: 8px;
    font-weight: 600;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    img {
        width: 215px;
        border: 2px lightgrey solid;
    }

    br {
        display: none;
    }
}

.center-h {
    flex-direction: column;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.center-v {
    flex-direction: column;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: row;
}


.splash {
    width: 100vw;
    position: fixed;
    top: 0;
    bottom: 0;
    text-align: center;

    display: flex;

    background-color: black;
    color: #fff;

    opacity: 1;
    transition: opacity 0.5s;

    overflow: scroll;
    
    & > div {
        max-width: 550px;
        margin: auto;
        padding: 16px;
    }
    
    & h1 {
        font-weight: 800;
        font-size: 48px;
        margin-bottom: -10px;
    }
}